*{
	margin: 0px;
	padding: 0px;
}
@font-face {
    font-family: 'angsana_newregular';
    src: url('../fonts/angsa-webfont.woff2') format('woff2'),
         url('../fonts/angsa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

div#banner{
	width: 100%;
	height: 180px;
	background-color: #F0B429;
	text-align: right;
	padding-top:10px; 
}
img#img_banner{
	display: block;
	margin: 0px;
	padding: 0px;
	width: 50%;
	height: 110px;
}
h1#titulobanner	{color: #fff;
	font-family: angsana_newregular, normal;
font-size: 40px;
}