body{
	margin: 0;
	padding: 0;
	background: url(../img/fondositioweb.jpg) no-repeat fixed center center;
	background-size: cover;
	font-family: "angsana_newregular",normal;
}
@font-face {
    font-family: 'angsana_newregular';
    src: url('../fonts/angsa-webfont.woff2') format('woff2'),
         url('../fonts/angsa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
nav {margin: auto;
	width: 600px;
	font-family: "angsana_newregular",normal;
	text-align: center;
	height: 240px;
	font-size: 22px;
	}
header{font-family: "angsana_newregular",normal;
color: #fff;
font-size: 20px;
vertical-align: middle;
border-radius: 0.5em
}
footer{
	font-family: "angsana_newregular", normal;
	background: #F0B429;
	text-align: center;
	font-size: 25px;
	color: #fff;
	background: #202020;
}
section#contenedor{
	margin: 10px auto;
	max-width: 1100px;
	padding: 0;
	text-align: center;
	font-size: 20px;
}
section#principal {
	background: #96F1F3;
	border-radius: 8px;
	display: inline-block;
	margin-top: 4px auto;
	max-width: 960px;
	min-width: 200px;
	vertical-align: top;
	width: 69%;
}
article	{
	font-family: "angsana_newregular", normal;
	text-align: justify;
	font-size: 25px;
	background: #DBF9F9;
	border-radius: 8px;
	min-width: 140px;
	padding: 4px;
}
aside {
	width: 30%
	background:#ffffff;
	border-radius: 8px;
	display: inline-block;
	margin-top: 4px auto;
	vertical-align: top;
	min-width: 250px;
}
section#contenedor2{
	margin: 10px auto;
	max-width: 1100px;
	padding: 0;
	text-align: center;
	font-size: 20px;
}
section#secundario {
	background: #96F1F3;
	border-radius: 8px;
	display: inline-block;
	margin-top: 4px auto;
	max-width: 960px;
	min-width: 200px;
	vertical-align: top;
	width: 69%;
}
p {
	margin-top: 8px;
}

