#contenedor_lectura{
	background: #FCFAFA;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0;
	text-align: center;
}

#contenedor_lectura h1{
	color: #000;
	font-size: 35px;
	margin: 0.25em auto;
	text-align: center;
}

#principal{
	text-align: center;
	background-color: #333;
	border-radius: 0.5em;
	margin: 0.2em auto;
	max-width: 960px;
	min-height: 200px;
	vertical-align: top;
}

#principal h2{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 15px;
	margin: 5px auto;
	padding: 10px;
	text-align: left;
}

article{
	background: rgba(255,255,255,0.3);
	border-radius: 1px;
	min-height: 140px;
	padding: 0.25em;
}
