body{
	font-family: : 15px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
.contenedor{

	width:80%;
	margin:auto;
	overflow:hiden;
}
ul{
	margin:0;
	padding:0;
}
header{
	background: url('../imagenes/cabecera.jpg') no-repeat ;
	padding-top:30px;
	min-height: 90px;
	width: 80%;
	margin-left:150px;

}
header #marca h1{
	margin:0;
	padding-left:550px;
	color:#fff
}
#bienvenido{
	margin-top:5px;
	width:100%;
	height:600px;
	background-color:orange;
}
#bienvenido h2{
    line-height:5px;
	padding-top:10px;
	margin-left:40px;
}
#bienvenido div{
	line-height:5px;
	margin-left:100px;
}
#bienvenido iframe{
	line-height:5px;
	margin-left:100px;
}

footer{
	height:50px;
	background-color:orange;
	width: 80%;
	margin-left:150px;
}
footer p{
	text-align: center;
	color:#fff;
}